<div class="row justify-content-center">
    <div class="col-md-4 register-employee card-edit">

        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Edit Product</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label for="inputName">Title</label>
                        <input class="form-control" type="text" formControlName="title">
                    </div>

                    <div class="form-group">
                        <label for="inputName">Type</label>
                        <input class="form-control" type="text" formControlName="type">
                    </div>

                    <div class="form-group">
                        <label for="inputName">Price</label>
                        <input class="form-control" type="text" formControlName="price">
                    </div>

                    <div class="form-group div-update">
                        <button type="submit" class="btn btn-success botao-update">Update</button>
                        <button class="btn btn-danger botao-voltar" (click)="voltarListagem()">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>