.banner{
    background-color: #dee2e6;
}

.alinhar-home{
    margin-left: 100px;
}

.div-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 50%;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.div-custom{
    width: 50%;
    margin-left: 247px;
    margin-top: 40px;
    position: relative;
    display: inline-block;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}

.div-principal{
    display: flex;
}

.div-upload{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.label-upload{
    border: 1px solid #adb5bd;
    height: 40px;
    width: 45%;
    position: absolute;
    background: #f8f9fa;
    text-align: center;
}

.div-botao-enviar{
    display: flex;
    justify-content: center;
    margin-left: 55%;
    margin-top: -54px;
}


.input-upload{
    margin-top: 5px;
}

.botao-enviar{
    height: 44px;
    width: 80px;
    border-radius: 12px;
}

.botao-deletar{
    margin-left: 10px;
}

.container-table{
    margin-top: 40px;
}

.texto-card{
    text-align: center;
}





